.icon--arrow__down {
  width: 0.563em;
  height: 0.75em;
}

.icon--arrow__left {
  width: 0.75em;
  height: 0.563em;
}

.icon--arrow__right {
  width: 0.75em;
  height: 0.563em;
}

.icon--arrow__up {
  width: 0.563em;
  height: 0.75em;
}

.icon--chevron__down {
  width: 0.75em;
  height: 0.438em;
}

.icon--chevron__left {
  width: 0.438em;
  height: 0.75em;
}

.icon--chevron__right {
  width: 0.438em;
  height: 0.75em;
}

.icon--chevron__up {
  width: 0.75em;
  height: 0.438em;
}

.icon--colored__conversation {
  width: 3.938em;
  height: 3.938em;
}

.icon--colored__growth {
  width: 5.438em;
  height: 4.938em;
}

.icon--colored__money {
  width: 5.688em;
  height: 5.688em;
}

.icon--colored__people {
  width: 4.125em;
  height: 4em;
}

.icon--colored__piggy-bank {
  width: 4.313em;
  height: 5.688em;
}

.icon--colored__rosette {
  width: 3.938em;
  height: 4.938em;
}

.icon--colored__target {
  width: 4em;
  height: 4em;
}

.icon--email {
  width: 1em;
  height: 0.75em;
}

.icon--large__play {
  width: 1.5em;
  height: 1.5em;
}

.icon--phone {
  width: 1em;
  height: 1em;
}

.icon--search {
  width: 1em;
  height: 1em;
}

.icon--play {
  width: 1.125em;
  height: 1.125em;
}

.icon--social__email {
  width: 1.625em;
  height: 1.125em;
}

.icon--social__facebook {
  width: 0.625em;
  height: 1.188em;
}

.icon--social__google-plus {
  width: 1.5em;
  height: 0.938em;
}

.icon--social__google {
  width: 0.938em;
  height: 0.938em;
}

.icon--social__linkedin {
  width: 1.188em;
  height: 1.125em;
}

.icon--social__pinterest {
  width: 1.188em;
  height: 1.188em;
}

.icon--social__twitter {
  width: 1.125em;
  height: 0.875em;
}

.icon--social__instagram {
  width: 1.188em;
  height: 1.188em;
}

.icon--social__vimeo {
  width: 1.125em;
  height: 0.938em;
}

.icon--social__web {
  width: 1.188em;
  height: 1.188em;
}

.icon--social__youtube {
  width: 1.375em;
  height: 1em;
}

.icon--user {
  width: 0.938em;
  height: 0.938em;
}

