@function em($size, $font-size: 16px) {
    @return ($size / $font-size) * 1em;
}

@function rem($size, $font-size: 16px) {
    @return ($size / $font-size) * 1rem;
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; /* 1 */
  line-height: 1.5; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}




/*------------------------------------*\
    RESET
\*------------------------------------*/
/**
 * Simple reset that sits on top of Normalize.css.
 */

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin:  0;
  padding: 0;
}


/**
 * Remove trailing margins from nested lists.
 */

li > {

  ol,
  ul {
    margin-bottom: 0;
  }

}


/**
 * Remove default table spacing.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
    BOX-SIZING
\*------------------------------------*/
* {
    &,
    &::before,
    &::after { box-sizing: border-box; }
}

.section {

    @media only screen and (max-width: 895px) {
        margin: 14.2857142857vw;
    }

    @media only screen and (min-width: 896px) {
        margin: 96px 128px;
    }

}

.article {
    max-width: 640px;
}

p {
    margin-bottom: 1em;
}

.color-form {
    max-width: 480px;
}

.color-list {
    list-style: none;
    margin: 0 0 2em;

    li {
        margin-bottom: 1.5em;
        margin-left: -1.5em;
        padding-left: 1.5em;

        outline: none !important;
    }

    fieldset {
        margin: 0 0 1em;
        padding: 0;
        border: none;
    }

    li:not(:last-child) fieldset {
        padding-bottom: 1.5em;
        border-bottom: 1px solid #888;
    }
}

.grid {
    display: grid;
    grid-gap: 1em;

    @media only screen and (min-width: 639px) {
        grid-template-columns: 1fr;
    }

    @media only screen and (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

label {
    display: block;
    min-width: 196px;
    //width: 100%;
    position: relative;

    span {
        display: block;
        font-size: 0.8em;
        font-weight: 700;
        letter-spacing: 0.06em;
        margin-bottom: 0.5em;
    }
}

$swatch-size: 24px;

.color-swatch {
    display: block;

    border-radius: 4px;

    background: #000;

    bottom: 0;
    right: 0;

    font-size: inherit;

    height: em($swatch-size);
    width: em($swatch-size);

    margin: 0.5em;

    box-shadow: inset 0 0 0 1px rgba(#fff,1),
                      0 0 0 1px rgba(#000,1);
}

.input {
    display: block;
    width: 100%;

    border: 1px solid #888;

    $height: 40px;
    $font-size: 16px;
    $line-height: 1.5;

    $padding: ($height - ($font-size * $line-height)) / 2;

    font-size: em($font-size);
    padding: em($padding, $font-size) em($font-size, $font-size);
    line-height: $line-height;

    border-radius: 0;
    background: #fff;

    box-shadow: 0 0 0 #2A5D7F;

    outline: none;

    transition: border-color 0.166667s ease,
                box-shadow   0.166667s ease;

    &:focus {
        border-color: #2A5D7F;
        box-shadow: 0 0 0 1px #2A5D7F;
    }

    &:focus:invalid {
        border-color: #A32E2D;
        box-shadow: 0 0 0 1px #A32E2D;
    }

    & + .color-swatch {
        position: absolute;
        z-index: 1;

        $margin: ($height - $swatch-size) / 2;

        margin: em($margin, $font-size) em($margin * 1.5, $font-size);
    }
}

.results {
    text-align: center;

    th, td {
        padding: 0.333em 0.75em;
    }

    th {
        font-weight: 700;
    }

    tbody {
        th + td,
        td:first-child {
            padding-left: 2em;
        }
    }

    &__item {

        &__color {
            &--light {
                box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
            }
        }

        &__tag {
            display: inline-block;
            vertical-align: middle;
            font-weight: 700;
            font-size: 0.8em;
            text-transform: uppercase;
            letter-spacing: 0.04em;

            padding: 0.4em 0.8em;
            background: #000;
            color: #fff;
            border-radius: 0.4em;

            min-width: 7.5em;
            text-align: center;
            font-style: normal;

            &--pass { background: #00600F; }
            &--fail { background: #AC0909; }
        }

        &__ratio {
            text-align: left;
        }
    }
}


.result-information {
    margin-left: 2em;

    li:not(:last-child) {
        margin-bottom: 0.25em;
    }

    &__tag {
        font-style: normal;
        font-weight: 700;
        text-decoration: underline;

        &--pass { color: #00600F; }
        &--fail { color: #AC0909; }
    }
}

.button {
    $height: 40px;
    $font-size: 16px;
    $line-height: 1.5;

    $padding: ($height - ($font-size * $line-height)) / 2;

    $offset: 1px;

    $color: #2A5D7F;

    appearance: none;
    padding: em($padding + $offset, $font-size) em($padding * 3, $font-size) em($padding - $offset, $font-size);
    font-size: rem($font-size);
    line-height: $line-height;
    text-decoration: none;
    display: inline-block;

    border: none;
    font-weight: 700;
    color: #fff;

    border-radius: 4px;

    transition: background 0.16667s ease,
                color 0.166667s ease;

    background: $color;

    &:hover {  background: lighten($color, 15%); }
    &:active { background:  darken($color, 15%); }

    &--small {
        font-size: 0.7em;
    }

    &--add {
        $color: #006823;

        background: $color;
        &:hover {  background: lighten($color, 10%); }
        &:active { background:  darken($color, 10%); }
    }

    &--remove {
        $color: #A32E2D;

        background: $color;
        &:hover {  background: lighten($color, 10%); }
        &:active { background:  darken($color, 10%); }
    }

    &:disabled {
        opacity: 0.5 !important;
        pointer-events: none;
    }
}

.form-controls {
    padding: 0;
    text-align: right;

    & > * {
        margin-left: 0.4em;
    }
}